body {
    padding-top: 20px;
    display: grid;
    gap: 30px;
    justify-content: center;
}
h1 {
    margin: 0;
    text-align: center;
}
button {
    cursor: pointer;
}
#container {
    border: 1px solid black;
    width: max-content;
    padding: 5px;
    display: grid;
    grid-template-columns: 26px 1fr;
    justify-content: center;
    gap: 2px;
}
#buttons {
    overflow: hidden;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 24px 24px;
}
#main {
    display: grid;
    grid-template-columns: 5ch 1fr 5ch;
    gap: 2px;
    align-items: center;
}