input[type="range"] {
    -webkit-appearance: none;
    width: 50vw;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #5f91d8;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background-color: #003a77;
}
input[type="range"]:active::-webkit-slider-runnable-track {
    background-color: #5f91d8;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #5f91d8;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
    box-shadow: 0 0 2px 1px #808080b0;
}
input[type="range"]:focus::-webkit-slider-thumb {
    border-color: #003a77;
}
input[type="range"]:active::-webkit-slider-thumb {
    border-color: #5f91d8;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #5f91d8;
}
input[type="range"]:focus::-moz-range-track {
    background-color: #003a77;
}
input[type="range"]:active::-moz-range-track {
    background-color: #5f91d8;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #5f91d8;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px 1px #808080b0;
}
input[type="range"]:focus::-moz-range-thumb {
    border-color: #003a77;
}
input[type="range"]:active::-moz-range-thumb {
    border-color: #5f91d8;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: 10px solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #5f91d8;
}
input[type="range"]:focus::-ms-fill-lower {
    background-color: #003a77;
}
input[type="range"]:active::-ms-fill-lower {
    background-color: #5f91d8;
}
input[type="range"]::-ms-fill-upper {
    background-color: #5f91d8;
    opacity: 0.5;
}
input[type="range"]:focus::-ms-fill-upper {
    background-color: #003a77;
}
input[type="range"]:active::-ms-fill-upper {
    background-color: #5f91d8;
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #5f91d8;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px 1px #808080;
}
input[type="range"]:focus::-ms-thumb {
    border-color: #003a77;
}
input[type="range"]:active::-ms-thumb {
    border-color: #5f91d8;
}