body {
    padding-top: 20px;
    display: grid;
    gap: 30px;
    justify-content: center;
}
h1 {
    margin: 0;
    text-align: center;
}
#container {
    border: 1px solid black;
    width: 70vw;
    padding: 5px;
    display: grid;
    grid-template-columns: 26px 1fr;
    grid-template-rows: 26px;
    justify-content: center;
    gap: 2px;
}
#buttons {
    cursor: pointer;
    overflow: hidden;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 24px 24px;
}
#main {
    display: grid;
    grid-template-columns: 5ch 1fr 5ch;
    gap: 2px;
    align-items: center;
    font-size: 18px;
}
#current-time, #full-time {
    justify-self: center;
}
#range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    margin: 0;
    height: 3px;
    background-color: #ffa826;
}
#range::-webkit-slider-thumb {
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #5f91d8;
    border-radius: 50%;
}
#range::-moz-range-thumb {
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #5f91d8;
    border-radius: 50%;
}
#range::-webkit-slider-thumb:active {
    transform: scale(1.2);
}
#range::-moz-range-thumb:active {
    transform: scale(1.2);
}