html {
    --before-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
}
#main-container {
    display: grid;
    grid-template-columns: 39px 3.5ch max-content 3.5ch;
    grid-template-rows: 39px;
    gap: 5px;
    place-content: center;
    place-items: center;
}
.dur {
    font-size: 15px;
}
#range-container {
    display: grid;
    width: max-content;
    padding: 10px 5px;
}
.outline {
    outline: 2px solid #003a77;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 50vw;
    position: relative;
    margin: 0;
    padding: 0;
    height: 19px;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: rgba(95, 145, 216, 0.5);
}
input[type="range"]::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: var(--before-width);
    height: 3px;
    background-color: #5f91d8;
    cursor: pointer;
}
.focus:focus::-webkit-slider-runnable-track {
    background-color: rgba(0, 58, 119, 0.5);
}
.focus:focus::before {
    background-color: #003a77;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #5f91d8;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
    box-shadow: 0 0 2px 1px #808080b0;
}
input[type="range"]:active::-webkit-slider-thumb {
    background-color: #5f91d8;
    transform: scale(1.2);
}
.focus:focus::-webkit-slider-thumb {
    border-color: #003a77;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: rgba(95, 145, 216, 0.5);
}
input[type="range"]::-moz-range-progress {
    background-color: #5f91d8;
}
.focus:focus::-moz-range-track {
    background-color: rgba(0, 58, 119, 0.5);
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
.focus:focus::-moz-range-progress {
    background-color: #003a77;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #5f91d8;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px 1px #808080b0;
}
input[type="range"]:active::-moz-range-thumb {
    background-color: #5f91d8;
    transform: scale(1.2);
}
.focus:focus::-moz-range-thumb {
    border-color: #003a77;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: 10px solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #5f91d8;
}
.focus:focus::-ms-fill-lower {
    background-color: #003a77;
}
input[type="range"]::-ms-fill-upper {
    background-color: #5f91d8;
    opacity: 0.5;
}
.focus:focus::-ms-fill-upper {
    background-color: #003a77;
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #5f91d8;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px 1px #808080;
}
input[type="range"]:active::-ms-thumb {
    background-color: #5f91d8;
    transform: scale(1.2);
}
.focus:focus::-ms-thumb {
    border-color: #003a77;
}